* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(216, 216, 216);
}

.nav-logo {
  font-weight: bold;
  font-size: 30px;
  margin-left: 90px;
}

.nav-logo a {
  color: rgb(245, 171, 35);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  margin-right: 60px;
}

#toggle {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: rgb(26, 26, 26);
  transform: translateY(-5px);
  transition: 0.3s;
}

#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: rgb(26, 26, 26);
  transform: translateY(5px);
  transition: 0.3s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  #toggle {
    opacity: 1;
    right: 15px;
  }

  .nav-logo {
    margin-left: 20px;
    font-size: 25px;
  }

  .nav-menu {
    position: absolute;
    width: 99%;
    height: 320px;
    margin: 0;
    top: 70px;
    background-color: white;
    flex-direction: column;
    opacity: 0;
    transition: transform 0.5s ease;
  }

  .nav-menu.active {
    opacity: 1;
  }
}
