footer {
  height: 300px;
  margin-top: 50px;
  background-color: rgb(56, 56, 56);
  text-align: center;
  padding-top: 30px;
}

footer h2 {
  font-size: 25px;
  color: rgb(245, 171, 35);
  margin: 10px;
}

footer h5 {
  font-size: 20px;
  color: rgb(224, 224, 224);
}

footer p {
  margin-top: 10px;
}

footer i {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(245, 171, 35);
}
